out/
*.iml
.idea/
.gradle/
bin/
build/
.build/
build/tmp/bootJar/MANIFEST.MF
build/resources/main/rebel.xml
build/libs/datastore-0.0.1-SNAPSHOT.jar
build/jrebel/rebel.xml
build/classes/java/main/com/windsockui/datastore/repository/JsonDataRepository.class
build/classes/java/main/com/windsockui/datastore/entities/JsonData.class
build/classes/java/main/com/windsockui/datastore/Datastore.class
build/classes/java/main/com/windsockui/datastore/controllers/RestEndpoint.class
build/classes/java/main/com/windsockui/datastore/controllers/RestEndpoint$DomainAndPath.class
build/classes/java/main/com/windsockui/datastore/controllers/Pages.class
build/classes/java/main/com/windsockui/datastore/config/Config.class
build/classes/java/main/com/windsockui/datastore/beans/CmsData.class
build/classes/java/main/com/windsockui/datastore/beans/CmsData$Component.class
